body {
    font-family: Arial, sans-serif;
    background-image: url('image44.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s ;
   
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
    
}
@keyframes{
    0%
    {
        
    }
}


h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    
    
}
button{
    color: #fff;
    border-radius: 6px;
    background: #7d2ae8;
    transition: all ease 100ms;
    padding: 10px 20px;
    cursor: pointer;
}
button:active{
    transform: scale(0.96);
}
button:hover .stars {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
    
 
}

.weather-info {
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    body{
        display: flex;
        background-image: url(image44.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

